<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Books:</h3>
<table class="books">
<thead>
<tr>
    <th th:text="#{book-field-id}">ID</th>
    <th th:text="#{book-field-title}">Title</th>
    <th th:text="#{book-field-authors}">Authors</th>
</tr>
</thead>
    <tbody>
    <tr th:each="book: ${books}" >
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.getAuthors}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>